@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/InterVariable.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --clr-primary: #00bbff;

    /* Light theme */
    --clr-light: rgb(255, 255, 255);
    --clr-light-surface: rgb(220, 220, 220);
    --clr-light-alt-surface: rgb(210, 210, 210);

    /* Dark theme */
    --clr-dark: rgb(0, 0, 0);
    --clr-dark-surface: rgb(35, 35, 35);
    --clr-dark-alt-surface: rgb(45, 45, 45);

    /* Unified neumorphic shadows */
    --clr-shadow-light: rgba(255, 255, 255, 0.05); /* .125 */
    --clr-shadow-dark: rgba(0, 0, 0, 0.5); /* .75 */

    /* General UI */
    --clr-active: rgb(150, 255, 150);
    --clr-inactive: rgb(255, 150, 150);
    --clr-border: rgb(100, 100, 100);
    --clr-muted: rgb(140, 140, 140);
}

*,
*::before,
*::after {
    color: var(--clr-light);
    padding: 0;
    margin: 0;
    user-select: none;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    min-width: 450px;
    max-width: 450px;
    min-height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    padding: 2rem;
    body {
        width: 100%;
        max-width: 100%;
        background-color: var(--clr-dark-surface);
        font-family: Inter, sans-serif;
    }
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.25rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #title-bar {
        #icon {
            display: flex;
            align-items: center;
            width: 24px;
            height: 24px;
            margin-right: 0.5rem;
        }

        h1 {
            display: flex;
            align-items: center;
        }
    }

    #tab-selector {
        background-color: transparent;

        border-radius: 0.25rem;

        box-shadow: -4px 0px 8px var(--clr-shadow-light),
            0px -4px 8px var(--clr-shadow-light),
            -4px -4px 8px var(--clr-shadow-light),
            4px 0px 8px var(--clr-shadow-dark),
            0px 4px 8px var(--clr-shadow-dark),
            4px 4px 8px var(--clr-shadow-dark);

        /* All buttons */
        button {
            font-size: 0.75rem;
            cursor: pointer;
            background-color: transparent;
            padding: 0.25rem 0.75rem;
            border: 0px;
            border-radius: 0.25rem;
            margin: 0.25rem 0rem;

            &.active {
                box-shadow: inset -2px 0px 4px var(--clr-shadow-light),
                    inset 0px -2px 4px var(--clr-shadow-light),
                    inset -2px -2px 4px var(--clr-shadow-light),
                    inset 2px 0px 4px var(--clr-shadow-dark),
                    inset 0px 2px 4px var(--clr-shadow-dark),
                    inset 2px 2px 4px var(--clr-shadow-dark);
            }

            /* first button */
            &:first-of-type {
                margin-left: 0.25rem;
            }

            /* any button that follows another */
            & + button {
                margin-left: 0.25rem;
            }

            /* last button */
            &:last-of-type {
                margin-right: 0.25rem;
            }
        }
    }
}

.tab-panel {
    display: none;

    /* Only display the active div */
    &.active {
        display: block;
    }
}

.switch {
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 1.5rem;
    width: 3rem;

    .checkbox {
        opacity: 0;
        height: 0;
        width: 0;
    }

    .slider {
        position: absolute;
        inset: 0;
        background-color: transparent;

        box-shadow: -4px 0px 8px var(--clr-shadow-light),
            0px -4px 8px var(--clr-shadow-light),
            -4px -4px 8px var(--clr-shadow-light),
            4px 0px 8px var(--clr-shadow-dark),
            0px 4px 8px var(--clr-shadow-dark),
            4px 4px 8px var(--clr-shadow-dark),
            inset -4px 0px 8px var(--clr-shadow-light),
            inset 0px -4px 8px var(--clr-shadow-light),
            inset -4px -4px 8px var(--clr-shadow-light),
            inset 4px 0px 8px var(--clr-shadow-dark),
            inset 0px 4px 8px var(--clr-shadow-dark),
            inset 4px 4px 8px var(--clr-shadow-dark);

        border-radius: 0.25rem;

        &::before {
            position: absolute;
            content: '';
            background-color: var(--clr-inactive);
            border-radius: 0.1rem;
            height: 0.75rem;
            width: 0.2rem;
            left: 0.5rem;
            top: 0.36rem;

            transition: transform 0.25s;
        }
    }

    .checkbox:checked + .slider::before {
        transform: translateX(1.75rem);
        background-color: var(--clr-active);
    }
}

.tab-content {
    display: flex;
    flex-direction: column;
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        filter: blur(0.1rem);
    }
}

.checkbox-text {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;

    .box {
        position: relative;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 0.25rem;

        box-shadow: -4px 0px 8px var(--clr-shadow-light),
            0px -4px 8px var(--clr-shadow-light),
            -4px -4px 8px var(--clr-shadow-light),
            4px 0px 8px var(--clr-shadow-dark),
            0px 4px 8px var(--clr-shadow-dark),
            4px 4px 8px var(--clr-shadow-dark);

        &::after {
            position: absolute;
            content: '';
            background-color: var(--clr-active);
            border-radius: 0.1rem;
            height: 60%;
            width: 60%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all 0.1s;
        }
    }

    &[data-level='1']:not(:first-of-type) {
        margin-top: 1.5rem;
    }

    &[data-level='2'] {
        margin-left: 2.5rem;
        margin-top: 1rem;
    }

    input[type='checkbox'] {
        display: none;

        &:checked + .box {
            box-shadow: inset -2px 0px 4px var(--clr-shadow-light),
                inset 0px -2px 4px var(--clr-shadow-light),
                inset -2px -2px 4px var(--clr-shadow-light),
                inset 2px 0px 4px var(--clr-shadow-dark),
                inset 0px 2px 4px var(--clr-shadow-dark),
                inset 2px 2px 4px var(--clr-shadow-dark),
                -4px 0px 8px var(--clr-shadow-light),
                0px -4px 8px var(--clr-shadow-light),
                -4px -4px 8px var(--clr-shadow-light),
                4px 0px 8px var(--clr-shadow-dark),
                0px 4px 8px var(--clr-shadow-dark),
                4px 4px 8px var(--clr-shadow-dark);

            &::after {
                opacity: 0.75;
            }
        }
    }
}

input[type='text'] {
    outline: none;

    width: 100%;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;

    box-shadow: -4px 0px 8px var(--clr-shadow-light),
        0px -4px 8px var(--clr-shadow-light),
        -4px -4px 8px var(--clr-shadow-light),
        4px 0px 8px var(--clr-shadow-dark), 0px 4px 8px var(--clr-shadow-dark),
        4px 4px 8px var(--clr-shadow-dark),
        inset -4px 0px 8px var(--clr-shadow-light),
        inset 0px -4px 8px var(--clr-shadow-light),
        inset -4px -4px 8px var(--clr-shadow-light),
        inset 4px 0px 8px var(--clr-shadow-dark),
        inset 0px 4px 8px var(--clr-shadow-dark),
        inset 4px 4px 8px var(--clr-shadow-dark);

    & + input[type='text'] {
        margin-top: 1rem;
    }

    &.invalid-url {
        border: 1px solid var(--clr-inactive);
    }

    &::placeholder {
    }
}

.add-link-button {
    cursor: pointer;
    height: 2rem;
    width: 2.5rem;
    background-color: transparent;
    padding: 0.5rem 0rem;
    border: none;
    border-radius: 0.35rem;

    box-shadow: -4px 0px 8px var(--clr-shadow-light),
        0px -4px 8px var(--clr-shadow-light),
        -4px -4px 8px var(--clr-shadow-light),
        4px 0px 8px var(--clr-shadow-dark), 0px 4px 8px var(--clr-shadow-dark),
        4px 4px 8px var(--clr-shadow-dark);
}

.add-link-icon {
    height: 100%;
    width: 100%;
}

.mt-1rem {
    margin-top: 1rem !important;
}

.mt-1-5rem {
    margin-top: 1.5rem !important;
}

.mt-2rem {
    margin-top: 2rem !important;
}

.pb-1rem {
    padding-bottom: 1rem !important;
}

.pb-2rem {
    padding-bottom: 2rem !important;
}

.bottom-border {
    border-bottom: 1px solid var(--clr-border) !important;
}
